{% extends "accounts/layout.html" %}

{% block content %}

	<div class="container">

		<div class="panel panel-default">
			<div class="panel-heading">
				회원정보 수정
			</div>
			<div class="panel-body">
				<form action="" method="post" style="text-align:center;">
					{% csrf_token %}
					<table class="table table-hover table-bordered">
						{{ form.as_table }}
					</table>
					<input type="submit" class="btn btn-default" value="수정" style="width:15rem;" />
					<a href="javascript:history.back()" class="btn btn-default" style="width:15rem;" >취소</a>
				</form>
			</div>
			<div class="panel-footer">
				From YAMI
			</div>
		</div>

	</div>

	<script type="text/javascript">
		$(function(){
			$('#id_post_code').addClass('postcodify_postcode');
			$('#id_address').addClass('postcodify_address');
			$('#id_address_detail').addClass('postcodify_details');
		});
	</script>

{% endblock %}